name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.VISHWANATH }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          # Clone repo if first time, otherwise pull latest
          if [ -d ~/app/.git ]; then
            cd ~/app && git pull origin main
          else
            rm -rf ~/app
            git clone https://github.com/vishwanath612/Demo1.git ~/app
            cd ~/app
          fi
          chmod +x deploy.sh
          ./deploy.sh